In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'Softec_Patient_Data_Testing_Features.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4084 entries, 0 to 4083
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           4084 non-null   int64
 1   Age                          4084 non-null   int64
 2   Race                         4084 non-null   object
 3   Sex                          4084 non-null   object
 4   State                        4084 non-null   object
 5   Zip Code                     4084 non-null   object
 6   MSA                          4084 non-null   object
 7   Enrollment Type Categorized  4084 non-null   int64
 8   Enrollment Months            4084 non-null   float64
 9   HCC Score                    4071 non-null   float64
 10  Avg. LOS                     4084 non-null   float64
 11  Diagnosis                    4084 non-null   int64
 12  # Total Claims               4084 non-null   int64
 13  # Hospital OP                4084 non-null   int64
 14  # All Physician OP           4084 non-null   int64
 15  # Inpatient                  4045 non-null   float64
 16  # Short Term Stay Hospital   4084 non-null   int64
 17  # Long Term Stay Hospital    4084 non-null   int64
 18  # Rehabilitation Hospital    4084 non-null   int64
 19  # Psychiatric Hospital       4084 non-null   int64
 20  # Readmissions               4018 non-null   float64
 21  % Readmissions               4084 non-null   float64
 22  # ER                         4084 non-null   int64
 23  # ER Admissions              4084 non-null   int64
 24  # SNF                        4084 non-null   int64
 25  # Non Swing Bed SNF Claim    4084 non-null   int64
 26  # Swing Bed SNF Claim        4084 non-null   int64
 27  # Home Health                4084 non-null   int64
 28  # Hospice                    4084 non-null   int64
 29  # Labs                       4084 non-null   int64
 30  # Part B Labs                4083 non-null   float64
 31  # Imaging                    4084 non-null   int64
 32  # Part B Imaging             4084 non-null   int64
 33  # Part B E&M                 4083 non-null   float64
 34  # Part B Drugs               4084 non-null   int64
 35  # Part B Ambulance           4084 non-null   int64
 36  # Dialysis                   4084 non-null   int64
 37  # Part-B Dialysis            3904 non-null   float64
 38  # Rx Claims                  4084 non-null   int64
 39  # DME                        4084 non-null   int64
 40  # Miscellaneous              4084 non-null   int64
dtypes: float64(9), int64(27), object(5)
memory usage: 1.3+ MB

In [152]:
df.drop(['MSA'],axis=1,inplace=True)

In [125]:
df['Sex'].value_counts()

Female    8503
Male      7825
Name: Sex, dtype: int64

In [82]:
df['Race'].value_counts()

White                    14094
Black                     1261
UnKnown                    343
Asian                      252
Other Race                 236
Hispanic                   112
North American Native       30
Name: Race, dtype: int64

In [153]:
df = pd.get_dummies(df,columns=['Race'])

In [4]:
df['Sex'].replace({'Male':0,'Female':1},inplace=True)

In [66]:
df['Y'].value_counts()

0    12200
1     4128
Name: Y, dtype: int64

In [21]:
df['# Inpatient'].value_counts()

0.0    14154
1.0     1576
2.0      189
3.0       22
4.0        6
Name: # Inpatient, dtype: int64

In [5]:
df['# Inpatient'].fillna(0.0,inplace=True)

In [157]:
df['HCC Score'].mean()
df['HCC Score'].value_counts()

0.47    279
0.49    271
0.45    253
0.61    243
0.46    218
       ...
6.77      1
4.42      1
5.63      1
6.62      1
0.14      1
Name: HCC Score, Length: 513, dtype: int64

In [6]:

df['HCC Score'].fillna(df['HCC Score'].mean(),inplace=True)

In [38]:
df['# Readmissions'].value_counts()

0.0    16204
1.0      111
2.0       12
3.0        1
Name: # Readmissions, dtype: int64

In [7]:
df['# Readmissions'].fillna(0.0,inplace=True)

In [48]:

df['# Part B E&M'].mode()

0    0.0
Name: # Part B E&M, dtype: float64

In [8]:
df['# Part B E&M'].fillna(0.0,inplace=True)

In [45]:
df['# Part B Labs'].mean()

4.468969771745836

In [161]:
df['# Part B Labs'].value_counts()

1.0      2452
0.0      2379
2.0      2108
3.0      1843
4.0      1509
5.0      1268
6.0      1003
7.0       741
8.0       569
9.0       450
10.0      329
11.0      319
12.0      256
13.0      172
14.0      139
15.0      109
16.0       89
17.0       85
18.0       60
19.0       60
20.0       36
22.0       32
23.0       26
21.0       25
24.0       25
26.0       19
25.0       17
28.0       15
27.0        9
29.0        8
31.0        8
32.0        7
34.0        6
30.0        5
37.0        4
38.0        3
33.0        3
36.0        3
48.0        2
39.0        2
46.0        2
44.0        1
49.0        1
42.0        1
47.0        1
64.0        1
43.0        1
81.0        1
53.0        1
51.0        1
75.0        1
54.0        1
35.0        1
125.0       1
Name: # Part B Labs, dtype: int64

In [9]:
df['# Part B Labs'].fillna(4.0,inplace=True)

In [163]:
df['# Part-B Dialysis'].value_counts()

0.0     15407
12.0       67
11.0       14
13.0       11
5.0         5
10.0        5
3.0         4
9.0         3
4.0         3
14.0        3
8.0         2
16.0        2
1.0         2
2.0         2
7.0         1
17.0        1
18.0        1
Name: # Part-B Dialysis, dtype: int64

In [10]:
df['# Part-B Dialysis'].fillna(0.0,inplace=True)

In [166]:
df['Sex'].value_counts()

1    8503
0    7825
Name: Sex, dtype: int64

In [167]:
df.drop('State',axis=1,inplace=True)

In [ ]:
df['Y'] = np.where(df['TotalCost_Y_Actual'] > 11000, 1, 0)

In [169]:
df['HCC Score'].value_counts()

0.47    279
0.49    271
0.45    253
0.61    243
0.46    218
       ...
6.77      1
4.42      1
5.63      1
6.62      1
0.14      1
Name: HCC Score, Length: 514, dtype: int64

In [12]:
df['HCC Score'] = np.where(df['HCC Score'] < 1, 0, 1)

In [13]:
df['Age'] = np.where(df['Age'] < 64, 0, 1)

In [14]:
feature_names = df.columns.values.tolist()
for feature_name in feature_names:
    if '#' == feature_name[0]: 
        print(feature_name)
        df[feature_name] = np.where( ((df[feature_name] > 3) & (df[feature_name] <= 6)), 3, df[feature_name])
        df[feature_name] = np.where( ( (df[feature_name] > 6) & (df[feature_name] <= 13) ), 5,df[feature_name])
        df[feature_name] = np.where(df[feature_name] > 13, 7,df[feature_name])

# Total Claims
# Hospital OP
# All Physician OP
# Inpatient
# Short Term Stay Hospital
# Long Term Stay Hospital
# Rehabilitation Hospital
# Psychiatric Hospital
# Readmissions
# ER
# ER Admissions
# SNF
# Non Swing Bed SNF Claim
# Swing Bed SNF Claim
# Home Health
# Hospice
# Labs
# Part B Labs
# Imaging
# Part B Imaging
# Part B E&M
# Part B Drugs
# Part B Ambulance
# Dialysis
# Part-B Dialysis
# Rx Claims
# DME
# Miscellaneous

In [15]:
df['# Part B Ambulance'].value_counts()

0    1939
1     908
3     571
2     506
5     132
7      28
Name: # Part B Ambulance, dtype: int64

In [174]:
df.describe()

,ID,Age,Sex,Zip Code,Enrollment Type Categorized,Enrollment Months,HCC Score,Avg. LOS,Diagnosis,# Total Claims,...,TotalCost_Y_Actual,TotalCost_Y_Expected,Race_Asian,Race_Black,Race_Hispanic,Race_North American Native,Race_Other Race,Race_UnKnown,Race_White,Y
count,1.632800e+04,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,...,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000,16328.000000
mean,4.059022e+07,0.835497,0.520762,48602.027070,11.762494,11.884248,0.457986,2.039874,38.517455,6.989833,...,11787.786403,12568.342162,0.015434,0.077229,0.006859,0.001837,0.014454,0.021007,0.863180,0.252817
std,2.626024e+07,0.370742,0.499584,1903.882326,3.831102,0.833668,0.498247,7.454327,23.534057,0.155406,...,22936.327369,26118.160886,0.123273,0.266963,0.082539,0.042826,0.119355,0.143411,0.343668,0.434640
min,1.201900e+04,0.000000,0.000000,14211.000000,10.000000,0.999600,0.000000,0.000000,1.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.837952e+07,1.000000,0.000000,48429.000000,10.000000,12.000000,0.000000,0.000000,21.000000,7.000000,...,1497.722500,1501.605000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,3.753202e+07,1.000000,1.000000,48708.000000,10.000000,12.000000,0.000000,0.000000,33.000000,7.000000,...,3609.965000,3624.115000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,6.089452e+07,1.000000,1.000000,48895.000000,10.000000,12.000000,1.000000,0.000000,50.000000,7.000000,...,11155.972500,11261.097500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,9.726202e+07,1.000000,1.000000,93725.000000,31.000000,12.000000,1.000000,96.000000,203.000000,7.000000,...,481498.760000,524516.078700,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
df.to_csv(r'Softec_Patient_Data_Testing_Features_cleaned.csv', index=False)

In [111]:
df_des.to_csv(r'Softec_Patient_Data_Training_Kaggle_V1_desc.csv', index=False)